<div class="container"
  <div class="">
    <h2>Profile Page</h2>
  </div>

  <div class="">
    <img href="" class="img-circle" src="{{image}}" alt="{{name}}">
  </div>

  <div>
    <ul>
      <li>{{name}}</li>
      <li>{{characteric}}</li>
      <li>{{location}}</li>
    </ul>
  </div>
</div>

<!-- <div class="">
  <a href="/add">Edit team member</a>
</div> -->
